$red: #B71C1C;

$borderStyle: 1px solid #ddd;

body {
  margin-top: 70px;
}

.datamap-outer-conainer {
  padding: 0;

  #datamap-container {
    position: relative;
    margin: 0 auto;
  }
}

table {
  margin-bottom: 150px;

  th {
    border: $borderStyle;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;

    h4 {
      display: inline-block;
    }

    .glyphicon {
      margin-left: 20px;
    }
  }

  td {
    border: $borderStyle;
    width: 50%;
    height: 35px;

    &:first-of-type {
      padding: 10px 15px;
    }

    &:last-of-type {
      border: none;
    }
  }

  input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 15px;
  }

  .remove-btn {
    padding: 10px;
    color: $red;
    opacity: 0;
    cursor: pointer;
  }

  tr:hover .remove-btn {
    opacity: 1;
  }
}

.select-container {
  margin: 100px 0;
}

.navbar {
  border-radius: 0;
  height: 60px;
  background: rgba(248, 248, 248, 0.9);
}
