$red: #B71C1C;
$green: #4CAF50;
$outline-blue: #08c;

$borderStyle: 1px solid #ddd;

@import 'styles/select_box';

body {
  margin-top: 70px;
}

.navbar {
  border-radius: 0;
  height: 60px;
  background: rgba(239, 239, 255, 0.9);
  padding: 0 30px;
}

.navbar-header {
  display: inline-block;
}

.github-repo-link {
  line-height: 50px;

  .glyphicon {
    margin-right: 5px;
  }
}


.datamap-outer-conainer {
  padding: 0;

  #datamap-container {
    position: relative;
    margin: 0 auto;
  }
}

.data-table-box {
  padding: 0 15px;

  .data-table-box-outer {
    max-width: 650px;
    margin: 0 auto;
  }
}

table {
  width: 100%;
  margin-bottom: 150px;
  border-collapse: collapse;

  th {
    border: $borderStyle;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;

    h4 {
      display: inline-block;
    }

    .glyphicon {
      margin-left: 20px;
    }
  }

  td {
    border: $borderStyle;
    width: 45%;
    height: 35px;
    text-align: start;

    &:first-of-type {
      padding: 10px 15px;
    }

    &:last-of-type {
      border: none;
      width: 10%;
    }
  }

  input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 15px;
  }

  .remove-btn {
    margin-left: 10px;
    padding: 10px;
    color: $red;
    opacity: 0;
    cursor: pointer;
    font-size: 1.7rem;
  }

  tr:hover .remove-btn {
    opacity: 1;
  }
}
